.Manuscript {
  font-size: var(--font-size-manuscript);
  text-align: justify;
  word-break: break-all;
  max-width: var(--size-max);
  margin: 0 auto;
  padding: var(--space-sm);
  column-gap: calc(var(--font-size-manuscript) * 2);

  @media screen and (min-width: 800px) {
    column-count: 2;
    padding: var(--space-lg);
  }

  & h1 {
    font-size: var(--font-size-heading);
    font-weight: normal;
    text-align: center;
    margin-bottom: var(--space-lg);
  }
}

.Char {
  transform: rotate(var(--charRotation)) translate(var(--charTranslationX), var(--charTranslationY));
}

.Dropcap {
  --size: calc(var(--font-size-manuscript) * var(--line-height-manuscript) * 6 - 18px);

  width: var(--size);
  height: var(--size);
  background-image: url("/images/gold.jpg");
  background-size: contain;
  fill: var(--initial);
  border-radius: 2px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  float: left;
  margin-top: 10px;
  margin-right: 10px;
  transform: rotate(var(--rotation));
  filter: url(#giltroughedge);

  & path {
    opacity: 0.9;
    filter: url(#inkroughedge) drop-shadow(0 0 0.5px var(--foreground));
  }
}

.Initial {
  display: inline-block;
  position: relative;
  text-transform: uppercase;

  &::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 12.5%;
    left: 20%;
    width: 0.25em;
    height: var(--strokeHeight);
    background-color: var(--accent);
    z-index: -1;
    transform: rotate(var(--strokeRotation));
  }
}

.WrapHere {
  display: inline !important;
  position: relative;

  &::after {
    content: "=";
    display: block;
    position: absolute;
    top: 0.1em;
    left: calc(100% + 1px);
    color: var(--foreground);
    font-size: 0.9em;
    text-shadow: 0 0 3px currentColor;
    transform: rotate(calc(var(--charRotation) - 10deg));
  }
}

.Invisible {
  display: inline-block;
  width: 1px;
  opacity: 0;
}

.Nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: var(--font-size-manuscript);
  text-align: center;
  max-width: var(--size-max);
  margin: 0 auto;
  padding: var(--space-sm);

  @media screen and (min-width: 800px) {
    flex-direction: row;
    padding: var(--space-lg);
  }
}

.Author {
  display: block;
  font-size: var(--font-size-manuscript);
  text-align: center;
  padding: var(--space-sm);

  @media screen and (min-width: 800px) {
    padding: var(--space-lg);
  }
}
