@font-face {
  font-family: JohannesG;
  src: url("/fonts/JohannesG.otf") format("opentype");
}

:root {
  --background: rgb(232, 209, 165);
  --foreground: rgb(10, 5, 0);
  --initial: rgb(138, 36, 45);
  --accent: rgb(189, 101, 80);
  --dropcap: rgb(23, 48, 136);

  --space-sm: 25px;
  --space-lg: 50px;

  --size-max: 1130px;

  --font-johannes: JohannesG;

  --font-size-manuscript: 30px;
  --font-size-heading: 60px;

  --line-height-manuscript: 1.05;

  @media screen and (min-width: 800px) {
    --font-size-manuscript: 40px;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  position: relative;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-johannes);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  line-height: var(--line-height-manuscript);
  word-spacing: -0.125em;
  letter-spacing: -0.01em;
  text-shadow: 0 0 3px currentColor;
  filter: url(#grain) url(#ink);
}

#__next {
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: var(--foreground);
  text-decoration: none;

  &:hover {
    color: var(--initial)
  }
}
