.Home {
  padding: var(--space-sm);

  @media screen and (min-width: 700px) {
    padding: var(--space-lg);
  }

  & h1 {
    font-size: var(--font-size-heading);
    font-weight: normal;
    margin-bottom: var(--space-lg);

    &:first-letter {
      color: var(--initial)
    }
  }

  & h2 {
    font-size: var(--font-size-manuscript);
    font-weight: normal;
    margin-bottom: var(--space-lg);
  }
}

.Contents {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: var(--space-lg);
  font-size: var(--font-size-manuscript);
  margin-bottom: var(--space-lg);

  @media screen and (min-width: 700px) {
    grid-template-columns: repeat(2, max-content);
  }
}

.Books {
  list-style: none;
  text-align: left;
}

.Author {
  font-size: var(--font-size-manuscript);
}
